<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
<style>
a{
font-size:30px;
}
.alert2{
	width:400px;
	margin-top:100px;
	margin-left:340px;
}
</style>
    <title>Login and register</title>
  </head>
  <body>
    <div class="alert alert-info" role="alert">
 <h1 style="text-align:center;">login <br> Registration </h1>
</div>
<div class="alert2 alert-primary" role="alert">
 <a href="{% url 'login'%}" style="padding-left:80px;">Login</a>
 
 <a href="{% url 'register'%}" style="padding-left:80px;">Registration</a>
</div>
   
  </body>
</html>